<p>quadratic-model works!</p>
<table border="1">
    <tr>
        <td colspan="2" id="header">The quadratic equation</td>
    </tr>
    <tr>
        <td>a:</td>
        <td>
            <input [(ngModel)]="a" type="number">
        </td>
    </tr>
    <tr>
        <td>b:</td>
        <td>
            <input [(ngModel)]="b" type="number">
        </td>
    </tr>
    <tr>
        <td>c:</td>
        <td>
            <input [(ngModel)]="c" type="number">
        </td>
    </tr>
    <tr>
        <td>Results:</td>
        <td>
            <p>{{result}}</p>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button (click)="findsolution()">Find solution</button>
            <button (click)=resetFields()>Clear</button>
        </td>
    </tr>
</table>