<table border="1" style="border-collapse: collapse; width: 100%;">
  <thead>
    <tr>
      <th style="width: 200px;">Ma Danh Muc</th>
      <th style="width: 200px;">Ten Danh Muc</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let category of categories">
      <!-- Hiển thị hàng của danh mục -->
      <tr>
        <td>{{ category.Cateid }}</td>
        <td>{{ category.CateName }}</td>
      </tr>
      <!-- Bảng con chứa danh sách sản phẩm -->
      <tr>
        <td colspan="2">
          <table border="1" style="border-collapse: collapse; width: 100%;">
            <thead>
              <tr>
                <th>Ma San Pham</th>
                <th>Ten San Pham</th>
                <th>Gia San Pham</th>
                <th>Picture</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of category.Products">
                <td>{{ product.ProductId }}</td>
                <td>{{ product.ProductName }}</td>
                <td>{{ product.Price }}</td>
                <td><img [src]="product.Image" alt="image" width="50"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
