body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;}
.header {
    background: orange;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.decorative-bar {
    display: flex;
    padding: 5px;
}
.square {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}
.color1 { background-color: #4b0082; }
.color2 { background-color: #0000ff; }
.color3 { background-color: #007fff; }
.color4 { background-color: #00bfff; }
.color5 { background-color: #1e90ff; }
.color6 { background-color: #87cefa; }

.container {
    display: flex;
    margin: 20px;
}
.sidebar {
    width: 250px;
    padding: 15px;
    border: 2px solid blue;
    border-radius: 5px;
}
.sidebar h2 {
    margin-top: -10px; 
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: #3333cc;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin: 8px 0;
}
.sidebar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    border: 1px solid #4800ff;
}
.staff-header {
    font-size: 24px;
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid rgb(0, 30, 255);
}
th {
    background-color: orange;
    color: white;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
    border:1px solid rgb(0, 0, 0)
}
footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
}
.blue {
    color: blue;
    font-weight: bold;
}
