<p>fashion-update works!</p>
<table>
    <tr>
        <td>Fashion Id:</td>
        <td>
        <input type="text" class="form-control" #name="ngModel" name="fashion_id"
        id="fashion_id" placeholder="Nhập Id"
        [(ngModel)]="fashion._id"/>
        </td>
    </tr>
    <tr>
        <td>Fashion Style:</td>
        <td>
        <input type="text" class="form-control" #name="ngModel" name="style"
        id="style" placeholder="Nhập Style"
        [(ngModel)]="fashion.style"/>
        </td>
    </tr>
    <tr>
        <td>Fashion Subject:</td>
        <td>
        <input type="text" class="form-control" #name="ngModel"
        name="fashion_subject" id="fashion_subject" placeholder="Nhập Subject"
        [(ngModel)]="fashion.fashion_subject"/>
        </td>
    </tr>
    <tr>
        <td>Fashion Detail:</td>
        <td>
        <input type="text" class="form-control" #name="ngModel"
        name="fashion_detail" id="fashion_detail" placeholder="Nhập Detail"
        [(ngModel)]="fashion.fashion_detail"/>
        </td>
    </tr>
    <tr>
        <td>Fashion Image:</td>
        <td>
        <input type="file" class="file-input" name="fashion_image" id="fashion_image"
        (change)="onFileSelected($event)">
        </td>
    </tr>
    <tr>
        <td colspan="2">
        <button (click)="putFashion()">Submit</button>
        </td>
    </tr>
</table>
