<p>binding-class-component works!</p>
<!-- Sử dụng [] syntax để bind class -->
<h1 [class]="success">This is a success message</h1>
<h1 [class]="error">This is an error message</h1>
<h1 [class]="primary">This is a primary message</h1>
<h1 [class]="normal">This is a normal message</h1>
<h1 [ngClass]="multiClass">This message has multiple classes</h1>

<!-- Sử dụng {{}} syntax để bind class -->
<h2 class="{{success}}">This is a success message</h2>
<h2 class="{{error}}">This is an error message</h2>
<h2 class="{{primary}}">This is a primary message</h2>
<h2 class="{{normal}}">This is a normal message</h2>
<h2 class="{{multiClass}}">This message has text complexity</h2>
